
.body {
font-family: sans-serif;
padding-bottom: 200px;
padding-top: 90px;
}

.form{
    padding-top: 20px;
    margin-left: 80px;
    margin-top: 30px;
    display: flex;
   gap: 10px;
   font-family: sans-serif;
flex-wrap: wrap;
background-color: rgba(0, 0, 0, 0.077);
box-shadow: 0 5px 25px rgba(1 1 1 /15%);
    border-radius: 20px;
    width: 50%;
height: 40%;
}


