.Skill{

    height: 950px;
    font-family: var(--font-techno), monospace;
    flex-direction: row;
    width: 100%;
    padding-top: 110px;
}

.Card{
width: 40%;
height: 40%;
background-color: rgba(0, 0, 0, 0.077);
box-shadow: 0 5px 25px rgba(1 1 1 /15%);
    border-radius: 20px;
margin-left: 850px;
padding: 10px;
margin-top: 60px;
font-family: var(--font-techno), monospace;
flex-wrap: wrap;


}

.Icon{
    color: rgb(255, 255, 255);
    padding: 40px;
    justify-content: center;
    display: flex;
    justify-content: space-between;
    gap: 40px;
    font-size: 60px;
    flex-wrap: wrap;
    font-family: var(--font-techno), monospace;
    flex-wrap: wrap;
    flex-direction: row;
    display: flex;
}
.Container{
    align-items: center;
    justify-content: center;
   position: relative;
   font-family: var(--font-techno), monospace;
   flex-wrap: wrap;
   
}
.Icon1{
    margin: 10px;
    flex-wrap: wrap;
    flex-direction: row;
    display: flex;
}
.H2{
    font-size: medium;
    padding-left: 15px;
    font-family: sans-serif;
    font-weight: 50;
    
}
.Icon1:hover{
    transform: scale(1.5);
    transition: 0.5s ease;
   box-shadow: 0 5px 25px rgba(1 1 1 /15%);
   border-radius: 10px;
   
}
.Title {
    display: flex;
    justify-content: center;
    color: #ffffff;
    font-size: 2.2em;
    font-weight: 400;
    margin-bottom: 30px;
    font-family: sans-serif;
    padding: 90px;
    font-family: var(--font-techno), monospace;
    font-weight: 200;
}
.H1Container{
    position: absolute;
    display: flex;
    padding-right: 700px;
    padding-left: 60px;


}
.Content{
    margin-right: 40px;
    margin-top: 90px;
   position: absolute;
    font-size: 1.6em;
    font-family: sans-serif;
    
    color: #c8c8c8;
    
}

